<div class="container">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Title:</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Author:</mat-label>
        <input matInput type="text" formControlName="author" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Description:</mat-label>
        <input matInput type="text-area" formControlName="description" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Isbn:</mat-label>
        <input matInput type="text" formControlName="isbn" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Readings:</mat-label>
        <input matInput type="number" formControlName="readings" />
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button [disabled]="!bookForm.valid">
      Add Book
    </button>
  </form>
</div>
