<div class="container">
  <h2>User Details</h2>
  <div class="data-container" *ngIf="user">
    <p>
      Name: <strong> {{ user.name }}</strong>
    </p>
    <p>
      Lastname: <strong>{{ user.lastname }}</strong>
    </p>
    <p>
      Email: <strong>{{ user.email }}</strong>
    </p>

    <h2>Books: {{ totalBooks }}</h2>
    <button mat-raised-button (click)="goAddBook()">
      Add Book <mat-icon>add</mat-icon>
    </button>

    <div class="card-container">
      <mat-card class="book-card" *ngFor="let book of books">
        <div class="card-text">
          <img [src]="book.image_url" />
        </div>
        <div>
          <mat-card-title> {{ book.title }} </mat-card-title>
          <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        </div>

        <button
          class="cancel-button"
          mat-icon-button
          color="warn"
          (click)="onDelete(user.id, book.id)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
        <button
          class="readmore-button"
          mat-icon-button
          (click)="goBookDetails(book.id)"
        >
          <mat-icon>read_more</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>
