<h2>Book Detail</h2>
<div class="container">
  <mat-card class="card-details" *ngIf="book">
    <mat-card-subtitle>
      Added on: {{ book.added_date.split("T")[0] }}
    </mat-card-subtitle>
    <div>
      <img [src]="book.image_url" alt="book image" />
    </div>

    <div>
      <mat-card-title>{{ book.title }} </mat-card-title>
      <mat-card-subtitle>
        {{ book.author }}
      </mat-card-subtitle>
      <mat-card-subtitle> ISBN: {{ book.isbn }} </mat-card-subtitle>
    </div>

    <mat-card-content>
      {{ book.description }}
    </mat-card-content>

    <mat-card-footer>
      <mat-card-content>
        <p class="readings-text"><strong>Readings</strong></p>
        <div class="readings-container">
          <button mat-icon-button size="small" (click)="decrementReadings()">
            <mat-icon>remove</mat-icon>
          </button>
          <div class="readings-text">{{ book.readings }}</div>
          <button mat-icon-button size="small" (click)="incrementReadings()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card-footer>

    <div>
      <button mat-raised-button (click)="goBack()">
        Go Back <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-card>

  <!-- Add other book details here -->
</div>
